@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --contrast-color: #1d4ed4;
    --dange-color: rgb(255, 74, 74);
    --positive-color: #31c41e;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: clamp(32px, 3vw, 46px);
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}

button {
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 300px;
    height: 420px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.h-auto {
    height: auto;
}

.card-image img {
    margin: 0 auto;
    max-width: 100px;
    max-height: 170px;
}
.card-info {
    margin-top: auto;
}
.category {
    font-size: 12px;
    font-weight: 700;
}

.card-link {
    background-color: var(--foreground);
    color: var(--background);
    padding: 15px 20px;
    width: fit-content;
    border-radius: 20px;
    height: fit-content;
    &:hover {
        opacity: 0.9;
    }
}

.card-button {
    background-color: var(--contrast-color);
    color: var(--background);
    padding: 15px 20px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    &:hover {
        opacity: 0.9;
    }
}
.card-button.added {
    background-color: var(--background);
    color: var(--foreground);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card-actions {
    display: flex;
    justify-content: space-between;
}

.single-product {
    img {
        margin: 0 auto;
        margin-top: 30px;
    }
    p {
        text-transform: capitalize;
    }
    .category {
        text-align: center;
        margin-top: -20px;
        margin-bottom: 40px;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.cart-open {
    display: none;
}
.cart {
    padding: 15px 20px;
    border-radius: 20px;
    background: var(--foreground);
    color: var(--background);
}
.cart.active {
    background: var(--contrast-color);
    color: var(--background);
}

.cart-open.active {
    display: block;
    position: fixed;
    top: 70px;
    right: 5%;
    width: 600px;
    min-height: 200px;
    height: auto;
    padding: 20px;
    background: var(--background);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

main {
    margin-top: 100px;
    margin-bottom: 50px;
}

.cart-open-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .cart-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .cart-right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .cart-actions {
        display: flex;
        gap: 5px;
    }
    li {
        border-bottom: 1px solid rgb(218, 218, 218);
        padding-block: 5px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}
.cart-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 768px) {
    .cart-open.active {
        width: 90%;
    }
    .cart-open-ul li {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .cart-open-ul .cart-right {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.remove-product {
    background: var(--dange-color);
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: var(--background);
    font-weight: 700;
}

.increase-product {
    background: rgb(30, 97, 221);
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: var(--background);
    font-weight: 700;
}

.clear-cart-button {
    margin-top: 10px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: var(--dange-color);
    color: var(--background);
}
.create-cart-button {
    margin-top: 10px;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: rgb(30, 97, 221);
    color: var(--background);
}
